@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(50, 158, 131, 0.3) 0%,
      rgba(23, 105, 134, 0.4) 22%,
      rgba(0, 212, 255, 0.3) 100%
    ),
    url(https://www.idlewp.com/wp-content/uploads/2022/02/imagine-dragons-wallpaper-idlewp-14.jpg);
  background-size: cover;
  z-index: -1;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
p {
  text-align: center;
  color: #fff;
}

form {
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 40px;
  background: rgba(0, 37, 71, 0.7);
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 0;
  padding: 10px;
  font-family: inherit;
}

button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 0;
  background: rgb(0, 212, 255, 0.5);
}
